body {
    background-color: rgba(7, 4, 53, 0.919);
}

.btn {
    margin: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(75, 75, 78, 0.439);
}